
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles1.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/site.webmanifest' %}">

{% block content %}

<div class="container">
    <nav>
        <a href="#" id="logo">ROME</a>
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="text">
            <h1>Simplicity <br> and Efficiency</h1>
            <p>Streamline your record-keeping with our easy-to-use, efficient, and secure platform.</p>
        </div>
        <div class="image">
            <img src="{% static 'img/logo1.png' %}" alt="record-keeping">
        </div>
    </div>
</div>
{% endblock %}
